<div id="pagination" class="row-1 text-end pb-4 pe-2">
	Page:  
		<select name="pagin" id="pagin">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
</div>