<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
<body>

	<%- include('../partials/navbar') %>

	<div class="container-fluid">

		<div class="row">

			<form action="" method="" class="col-12 col-lg-6" id="search">
				<div class="form-row">

					<div class="input-group mb-3">
					  <input type="text" class="form-control" id="search-input" placeholder="Search...">
					  <div class="input-group-append">
					    <button class="btn btn-primary" id="submit-search"type="submit">Search</button>
					  </div>
					</div>

				</div>
			</form>
		</div>

		<div class="row mb-3">
			<div class="col-9 d-inline" id="results-showing">
				Showing <strong><span id="start-results">0</span>-<span id="end-results">0</span></strong> of <strong><span id="total-results">0</span></strong> result(s). 
			</div>
			<div class="col-9 d-none" id="no-results">
				No results found.
			</div>
			<%- include('../partials/pagination') %>
		</div>

		<div class="row" id="grid"></div>		

	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	
	<script src="main.js"></script>

</body>
</html>